In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/nigerian_suicide_poverty-merged.csv")
data.head()

,Unnamed: 0,IND_ID,IND_CODE,IND_UUID,IND_PER_CODE,DIM_TIME,DIM_TIME_TYPE,DIM_GEO_CODE_M49,DIM_GEO_CODE_TYPE,DIM_PUBLISH_STATE_CODE,...,DIM_SEX,DIM_AGE,RATE_PER_100000_N,RATE_PER_100000_NL,RATE_PER_100000_NU,region,indicator,Unit,Date,Value
0,79,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2001,YEAR,566,COUNTRY,PUBLISHED,...,MALE,TOTAL,6.92,3.93,11.3773,Abia,Revised Absolute Poverty 2009/10 (Adult Equiva...,NaN,2010,30.4
1,80,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2010,YEAR,566,COUNTRY,PUBLISHED,...,MALE,TOTAL,6.36,3.91,10.1658,Adamawa,Revised Absolute Poverty 2009/10 (Adult Equiva...,NaN,2010,64.5
2,87,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2005,YEAR,566,COUNTRY,PUBLISHED,...,MALE,TOTAL,6.66,3.87,11.1323,Akwa Ibom,Revised Absolute Poverty 2009/10 (Adult Equiva...,NaN,2010,35.5
3,311,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2019,YEAR,566,COUNTRY,PUBLISHED,...,TOTAL,TOTAL,3.49,1.95,5.8400,Anambra,Revised Absolute Poverty 2009/10 (Adult Equiva...,NaN,2010,30.2
4,646,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2004,YEAR,566,COUNTRY,PUBLISHED,...,FEMALE,TOTAL,2.85,1.52,4.4600,Bauchi,Revised Absolute Poverty 2009/10 (Adult Equiva...,NaN,2010,65.0